<!-- app_name/templates/first.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Django Template Example</title>

    {% load static %}
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
</head>
<body>
    <div class="container">
        {% include 'layouts/navbar.html' %}

        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
